# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environment
tumor_env/
venv/
env/

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store

# Optional: model weights (if too large)
# best_swin_model.pth